@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --main-blue: #1572A1;
  --main-green: #68EACC;
  --main-grey: #f2f2f2;
  --main-red: #e74c3c;
  --main-white: #fff;
  --sub-blue: #86C6F4;
  --sub-grey: #ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 88vh;
  width: 100%;
  background: linear-gradient(to bottom, #42d0bcba, #aeaeae);
    }

button {
  height: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #242424;
  color: var(--main-white);
  cursor: pointer;
}

.wrapper {
  margin: 60px auto;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  background: var(--main-white);
  padding: 25px;
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
}

.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.inputField input {
  width: 85%;
  height: 100%;
  border: 1px solid var(--sub-grey);
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

.inputField button {
  width: 45px;
  margin-left: 10px;
  font-size: 22px;
}

.wrapper .todoList {
  max-height: 250px;
  overflow-y: scroll;
}

.todoList::-webkit-scrollbar {
    width: 0;
  }
.todoList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: var(--main-grey);
  margin-bottom: 8px;
  border-radius: 3px;
  padding-left: 15px;
  cursor: default;
  overflow: hidden;
}


.todoList li span {
  position: absolute;
  right: -45px;
  width: 45px;
  color: var(--main-white);
  text-align: center;
  background: var(--main-red);
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todoList li:hover span {
  right: 0;
}

.wrapper .footer {
/*   width: 100%; */
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.footer button {
  font-size: 16px;
  padding: 6px 10px;
}


.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #f3efefcf;
    color: rgb(184, 16, 16);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    /* background: rgb(48 185 38); */
    color: rgb(12, 15, 12);
}

.complete-btn:hover {
   background: rgb(48 185 38); 
  color: rgb(233, 241, 232);
}

.trash-btn:hover {
  background: rgb(184, 16, 16);
  color: white;
}

.todo-item {
    padding: 0rem 0.5rem;
}


.fa-trash,
.fa-check {
    pointer-events: none;
}


.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.tasks b {
  font-size: 20px !important;
}